body {
  min-height: 100vh;
  margin: 0;

  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  min-height: 50px;
  display: flex;
  width: 100%;
  border-bottom: 2px solid rgba(156, 156, 156, 0.89);
  align-items: center;
  margin: auto;
}

.logo img {
  width: 120px;
}

.logo {
  justify-content: flex-start;
  width: 10%;
  padding-left: 15.5%;
  cursor: pointer;
}

.navbar {
  overflow: hidden;
  background-color: White;
  font-family: "Maven Pro", sans-serif;
  text-decoration: underline;
  font-size: x-large;
  width: 80%;
}

.navbar a {
  font-family: "Maven Pro", sans-serif;
  float: left;
  font-size: 130%;
  font-weight: bold;
  color: #e73b55;
  text-align: center;
  padding: 14px 16px;
  padding-left: 10%;
  text-decoration: none;
  font-size: x-large;
}

#nav a {
  text-decoration: none;
  font-family: "Maven Pro", sans-serif;
  padding-left: 15%;
  color: #e73b55;
  font-weight: bold;
  font-size: 130%;
}

#nav {
  width: 50%;
}

#nav a:hover {
  text-decoration: underline;
  font-size: x-large;
}

footer {
  min-height: 75px;
}

#footer {
  border-top: 2px solid rgb(128, 128, 128);
  width: 30%;
  margin: auto;
  text-align: center;
}

.icons {
  width: 3rem;
  padding: 2%;
}

.navbar a:hover {
  text-decoration: underline;
  font-size: x-large;
}

.dropbtn :hover {
  text-decoration: underline;
  font-size: x-large;
}

.dropbtn a {
  font-size: x-large;
  padding-left: 15%;
  padding: 14px 16px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: x-large;
  border: none;
  outline: none;
  color: #e73b55;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  font-family: "Maven Pro", sans-serif;
  font-weight: 900;
  padding-left: 90px;
  width: 110%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #e73b55;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
